:root{
--main-color: #8e7bef;
--article-color: #c9c4e0;
--secundary-color:#5D3BEF;
--alt-color: #222222;
--background-color: #F9F6FF;
--gray-color:#423F40;
--super-white: #FFFFFF;

}

html{
  box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 5.5%;
  
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.nav-menu {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: flex-end;
  }



.nav-menu_active{
  text-decoration: none;
  color: var(--alt-color);
}

.nav-menu_active:hover{
  color: #8e7bef;

}
.header-content{
  min-width: 100%;
  min-height: 100px;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


h1{
  margin-top: 0;
  margin-bottom: 0;
  max-width: 500px;
  font-size: 90px;
  font-weight: 600;
  text-align: justify;
  
}

.title-conte{
  min-width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align:right;
  align-items: center;
}

.title-conte p{
  max-width: 70%;
  font-size: 25px;
  text-align: start;

}

header p{
  color: var(--gray-color);
  font-size: 30px;
}
.icons-contact{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.icon-container{
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px ;
  margin-bottom: 20px;
}

.btn-contact{
  width: 20rem;
  height: 3.5rem;
  background-color: #5D3BEF;
  display: flex;
  text-align: center;
  align-items: center; 
  justify-content: center;
}

.btn-contact a{
  font-size: 18px;
  gap: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--super-white);
}
.btn-contact svg{
  width: 1.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titles{
  min-width: 100%;
  margin-top: 20px;
  color: var(--alt-color);
  text-align: center;
}
main h2{
  margin-bottom: 60px;
}

main p{
  color: var(--gray-color);
  margin: 0;
  padding: 0;
  
}
.habilities-cards{
  gap: 5%;
  min-width: 80%;
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 80px;
}

.habilities-cards h2{
  margin-top: 20px;
  color: var(--alt-color);
  text-align: center;
}
.habilities-cards h3{
  font-size: 16px;

  color: var(--alt-color);
  text-align: center;
}
.habilities-cards p{
  font-size: 18px;
  color: var(--gray-color);
  
}

article{
  min-width: 40px;
  height: 60%;
  background-color: var(--article-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-content p{
  gap: 25px;
  padding: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.giant-content{
  gap: 50px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
}
section{
  min-width: 100%;
}
section h2{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--alt-color);
  text-align: center;
}
.section-content{
  min-width: 20%;
  gap:  10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-content h3{
  margin: 0;
}
.section-content span{
  color: var(--gray-color);
  font-size: 15px;
}
.years {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.years h3{
  font-size: 18px;
  color: #222222;
}
.cards-content {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  
}

.img-content{
  width: 100%;
  padding: 1rem;
}
.example-img {
  gap: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.example-img img{
  width: 85%;
}
.giant-container{
  display: flex;
  flex-direction: row;
}
footer h2{
  margin-top: 20px;
  color: var(--alt-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.giant-content{
  max-width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.footer-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content h3{
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
.footer-content span{
  color: #423F40;
  font-size: 15px;
}

footer p{
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--main-color);
  font-size: 20px;
  text-align: center;
}
/*--------Menú Hamburguesa----------*/
.nav-toggle{
  color: var(--secundary-color);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;

}

/* Media Queries*/


@media (max-width: 768px){
  header {
    
    background-position: center bottom;
  }
  .header-content{
    flex-direction: column;
  }

  .header-content h1{
    width: 90%;
    height: 5rem;
    font-size: 50px;
    font-weight: 600;
    justify-content: center;
    align-items: center;  
    text-align: center;
  }
  .header-content p{
    font-size: 23px;
    text-align: center;
    padding: 0px 0px;
    
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    background-color: var(--article-color);
    position: fixed;
    width: 30%;
    padding: 20px 0;
    height: calc(100 - 40px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu a {
    line-height: 35px;
  }
  
  .nav-toggle{
    display: block;

  }
  .nav-menu_visible{
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }
  .icons-contact {
    padding: 0;
    margin: 0; 
  }
  main{
    width: 640px;
    

  }
  article{
    margin: 10px;
    display: flex;
    width: 40%;
    height: 10rem;
  }

.habilities-cards{
  width: 600px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  }

  .example-img{
    display: flex;
    flex-direction: column;
    
  }
  .example-img img{
    padding: 20px;
    width: 30rem;
  }
  .cards-content{
    width: 80px;
  }
  .section-content{
    display: flex;
    gap: 6rem;
    justify-content:center;
    text-align: center;
    align-items:flex-start;
  }

  .giant-content{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .years{
    width: 50%;
  }

  
}
